{% extends 'layout.html.twig' %}

{% block title %}Error – {{ parent() }}{% endblock %}

{% block content %}

  <h1>Oops, an error occured. :s</h1>
  <p>
    <a href="{{ urlFor('home') }}">You could try to go to the home page.</a>
  </p>
{% endblock %}
