/* style de la page top10 */
.topTen {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #3FA43A;
    
    -moz-border-radius-bottomleft:14px;
    -webkit-border-bottom-left-radius:14px;
    border-bottom-left-radius:14px;
    
    -moz-border-radius-bottomright:14px;
    -webkit-border-bottom-right-radius:14px;
    border-bottom-right-radius:14px;
    
    -moz-border-radius-topright:14px;
    -webkit-border-top-right-radius:14px;
    border-top-right-radius:14px;
    
    -moz-border-radius-topleft:14px;
    -webkit-border-top-left-radius:14px;
    border-top-left-radius:14px;
}
.topTen table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}
.topTen tr:last-child td:last-child {
    -moz-border-radius-bottomright:14px;
    -webkit-border-bottom-right-radius:14px;
    border-bottom-right-radius:14px;
}
.topTen table tr:first-child td:first-child {
    -moz-border-radius-topleft:14px;
    -webkit-border-top-left-radius:14px;
    border-top-left-radius:14px;
}
.topTen table tr:first-child td:last-child {
    -moz-border-radius-topright:14px;
    -webkit-border-top-right-radius:14px;
    border-top-right-radius:14px;
}.topTen tr:last-child td:first-child{
    -moz-border-radius-bottomleft:14px;
    -webkit-border-bottom-left-radius:14px;
    border-bottom-left-radius:14px;
}
.topTen tr:nth-child(odd){ background-color:#d4ffaa; }
.topTen tr:nth-child(even){ background-color:#ffffff; }
.topTen td{
    vertical-align:middle;  
    border:1px solid #3FA43A;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
}
.topTen tr:last-child td{
    border-width:0px 1px 0px 0px;
}
.topTen tr td:last-child{
    border-width:0px 0px 1px 0px;
}
.topTen tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.topTen tr:first-child td{
    background:-o-linear-gradient(bottom, #009900 5%, #3FA43A 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #009900), color-stop(1, #3FA43A) );
    background:-moz-linear-gradient( center top, #009900 5%, #3FA43A 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#009900", endColorstr="#3FA43A");  background: -o-linear-gradient(top,#009900,3FA43A);

    background-color:#009900;
    border:0px solid #3FA43A;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.topTen tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.topTen tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
