{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} — Game{% endblock %}

{% block content %}
  <p>
    Hello! You are logged in as {{ user.getEmail() }}. <a href="{{ urlFor('logout.process') }}">Log out</a>.
  </p>
  <div id="game">
    <ul>
      <li>{{ game.id }}</li>
    </ul>
  </div>
{% endblock %}
