{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} — List{% endblock %}

{% block content %}
  <div id="games">
  {% if flash.error is defined %}
  <div class="alert-box error"><span>error: </span>
      {{ flash.error }}
  </div>

  {% endif %}
  {% if games is empty %}
    <div class="alert-box notice"><span>notice: </span>There is no game. You should create one!</div>
  {% else %}
    <div class="alert-box notice"><span>notice: </span>If you want to play, you can join one game or more !<br/> You can also create a game : click on the <strong>Create a new game!</strong> button, but don't forget that you can only create one game at a time.</div>
    <ul>
    {% for game in games %}
      <li>
        <a href="{{ urlFor('game', {"id": game.id}) }}">Join!</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
  <div id="game-creation">
    <form method="post" action="{{ urlFor('games.create') }}">
      <button class="btnStyle" type="submit">Create a new game!</button>
    </form>
  </div>
{% endblock %}
