{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} — Top 10{% endblock %}
{% block css %}
{{ parent() }}

{% endblock %}
{% block content %}
  <div id="top">
  {% if top10 is empty %}
  <div class="alert-box notice"><span>notice: </span>Currently, there is no top10, let's play to be the best !</div>
  {% else %}
    <ul>
      {% for user in top10 %}
        <li>
          {{user.display_name}} : {{user.victories}}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endblock %}
